<footer class="site-footer">
  <div class="footer-top">
    <div class="footer-logo">
      <img src="images/Logo/LP-LOGO-8_kor-white.png" alt="LeadingPoint"/>
    </div>
    <ul class="footer-nav">
      <li class="footer-col">
        <span class="footer-col-title">Home</span>
      </li>
      <li class="footer-col">
        <span class="footer-col-title">Business</span>
        <a href="disaster-recovery.html" class="footer-link" id="foot-dr">Disaster Recovery</a>
        <a href="active-active-nas-dr.html" class="footer-link" id="foot-nas-dr">Active-Active NAS DR</a>
        <a href="cloud.html" class="footer-link" id="foot-cloud">Cloud</a>
        <a href="biometrics.html" class="footer-link" id="foot-bio">Biometrics</a>
      </li>
      <li class="footer-col">
        <span class="footer-col-title">Company</span>
        <a href="partners.html" class="footer-link" id="foot-partners">Partners</a>
        <a href="clients.html" class="footer-link" id="foot-clients">Clients</a>
        <a href="company.html" class="footer-link" id="foot-contact">Contact us</a>
      </li>
    </ul>
  </div>
  <div class="footer-divider"></div>
  <div class="footer-bottom">
    <span class="footer-copy" id="footer-copy"></span>
  </div>
</footer>
